@charset "utf-8";
/* CSS Document */

/* 通用属性 */
* { margin:0; padding:0; list-style:none; }
body { font-family:"宋体"; font-size:12px; }
.float_clear { clear:both; }
.float_left { float:left; }
.float_right { float:right; }
.display_none { display:none; }
img { border:none; }
.red { color:red; }
.must_input { font-weight:bold; color:red; }
.green { color:green; }
.blue { color:blue; }
.gray { color:gray; }
.purple { color:purple; }
.clear { clear:both; }
a { text-decoration:none; color:#000; }
a:hover { text-decoration:underline; color:#2771BC; }
p { line-height:26px; }
/* 顶部 */
#top_menu_main { background:url(top_menu_bg.jpg)/*tpa=http://127.0.0.1/_skins/free/images/top_menu_bg.jpg*/ repeat-x; height:27px; }
#top_menu { height:27px; line-height:27px; text-align:right; width:980px; margin:0 auto; }
#top_menu a { color:#000; color:#999; }
#top_main { }
#top { width:980px; margin:0 auto; }
#top_logo { float:left; width:200px; height:100px; }
#top_site_name { float:left; width:500px; height:100px; background:url(site_name.jpg)/*tpa=http://127.0.0.1/_skins/free/images/site_name.jpg*/ no-repeat; }
#top_time { padding-top:20px; text-align:right; }
/* 导航 */
#navigation_main { height:36px; }
#navigation { width:960px; height:36px; margin:0 auto; background:url(navigation_bg.jpg)/*tpa=http://127.0.0.1/_skins/free/images/navigation_bg.jpg*/ repeat-x; padding:0 10px; }
#navigation ul #navigation_home { float:left; line-height:36px; text-align:center; }
#navigation ul .main_nav { float:left; line-height:36px; text-align:center; background:url(navigation_li_bg.jpg)/*tpa=http://127.0.0.1/_skins/free/images/navigation_li_bg.jpg*/ left no-repeat; padding-left:2px; }
#navigation ul li a { width:84px; display:block; font-size:12px; font-weight:bold; color:#FFF; }
#navigation ul li a:hover { font-size:14px; text-decoration:none; color:#FFF; background:url(navigation_hover_bg.jpg)/*tpa=http://127.0.0.1/_skins/free/images/navigation_hover_bg.jpg*/ repeat-x; }
/* 当前位置 */
.current_location { width:970px; margin:5px auto; padding-right:8px; height:26px; line-height:26px; background:#EDEDED; border:1px solid #CCC; color:#333333; text-align:right; }
.current_location a { color:#333333; }
/* 幻灯 */
#banner_main { }
#banner { width:970px; border:1px solid #C8D0D2; margin:0 auto; padding:4px; margin-top:5px; }
#banner img { width:970px; }
/* 主体 */
#content_main { }
#content_title { display:none; }
#content_body { width:980px; margin:5px auto; }
#content_bottom { display:none; }
/*主体左侧*/
#left { float:left; width:248px; }
.left_title { height:27px; line-height:27px; background:url(left_title_bg.jpg)/*tpa=http://127.0.0.1/_skins/free/images/left_title_bg.jpg*/ no-repeat; padding:0 10px; }
.left_title h2 { font-size:14px; color:#2771BC; line-height:27px; }
.left_title h2 a { font-size:12px; color:#2771BC; }
.left_body { overflow:hidden; zoom:1; padding:10px; border:1px solid #DDDDDD; border-top:none; }
.left_bottom { height:12px; }
/*主体右侧*/
#right { float:right; width:720px; }
.right_title { background:url(right_title_bg.jpg)/*tpa=http://127.0.0.1/_skins/free/images/right_title_bg.jpg*/ repeat-x; border:1px solid #D3D1D1; height:26px; line-height:26px; padding:0 10px; }
.right_title h2 { font-size:14px; color:#2771BC; }
.right_body { padding:10px; overflow:hidden; zoom:1; border:1px solid #D3D1D1; border-top:none; }
.right_bottom { height:12px; }
/* 友情链接 */
#link_main { padding:10px 0; }
#link_title { background:#D0D0D0; height:24px; line-height:24px; padding:0 10px; width:960px; margin:0 auto; }
#link_title a { color:#2771BC; }
#link_title h2 { font-size:14px; color:#2771BC; }
#link_body { width:938px; margin:0 auto; border:1px solid #D0D0D0; border-top:none; padding:10px 20px; }
#link_pic { overflow:auto; zoom:1; }
#link_pic ul li { float:left; padding:1px 3px; text-align:center; }
#link_pic img { width:90px; height:30px; padding:2px; border:1px solid #CCC; }
#link_pic ul li a:hover img { border:1px solid #6C9ACC; }
#link_text { overflow:auto; zoom:1; }
#link_text ul li { float:left; text-align:center; padding:1px; }
#link_text a { display:block; line-height:22px; width:100px; background:#EDEDED; }
/* 版权信息 */
#copyright_main { }
#copyright { width:980px; margin:0 auto; padding:10px 0; border-top:5px solid #266BB6; }
/* 留言 */
.guestbook_main { padding:10px; border:1px solid #CCC; margin-bottom:10px; }
.guestbook_title { color:#227BAD; line-height:30px; font-weight:bold; border-bottom:1px dashed #227BAD; }
.guestbook_intro { line-height:30px; text-align:right; }
.guestbook_content { padding:5px; border:1px dashed #CCC; margin-bottom:10px; }
.guestbook_answer { padding:5px; border:1px solid #CCC; }
.guestbook_answer h2 { color:red; line-height:20px; font-size:12px; }
/*左侧通用列表*/
.ul_left_common li { line-height:28px; border-bottom:1px dashed #CCC; padding-left:10px; background:url(ul_left_common.jpg)/*tpa=http://127.0.0.1/_skins/free/images/ul_left_common.jpg*/ left no-repeat; }
/*产品列表*/
.productslist li { float:left; text-align:center; padding:4px; }
.productslist li img { padding:4px; border:1px solid #999999; width:156px; height:117px; }
.productslist li a { line-height:22px; }
.productslist li a:hover img { border:1px solid #cc0000; }
/*新闻列表*/
.newslist li { line-height:30px; border-bottom:1px dashed #999; padding-left:15px; background:url(newslist.jpg)/*tpa=http://127.0.0.1/_skins/free/images/newslist.jpg*/ left no-repeat; }
.newslist_detail { }
.newslist_detail_title { font-size:14px; line-height:26px; border-bottom:1px dashed #999; padding-left:15px; background:url(newslist.jpg)/*tpa=http://127.0.0.1/_skins/free/images/newslist.jpg*/ left no-repeat; }
.newslist_detail_content { padding:5px; }
.newslist_detail_intro { text-align:right; color:#999; border-top:1px dashed #999; margin-bottom:10px; line-height:26px; }
.newslist_detail_intro a { color:#999; }
/*公告列表*/
.noticelist li { line-height:26px; border-bottom:1px dashed #CCC; padding-left:10px; background:url(noticelist.jpg)/*tpa=http://127.0.0.1/_skins/free/images/noticelist.jpg*/ left no-repeat; }
/*分类列表*/
.channel_list { }
.channel_list li { line-height:28px; padding:1px; border-bottom:1px solid #E3E3E1; }
.channel_list li a { display:block; padding:0 10px; }
.channel_list li a:hover { background:#2771BC; color:#FFF; text-decoration:none; }
/*信息详情页*/
#info_name { font-size:16px; font-weight:normal; text-align:center; line-height:30px; }
#info_intro { padding:0 10px; text-align:right; color:#999; border:1px dashed #CCC; line-height:30px; }
#info_intro a { color:#999; }
#info_content { padding:10px 0; }
#info_extra { padding:10px 0; text-align:center; }
#info_pic { width:240px; }
#info_around { background:#F0F0F0; padding:5px; border:1px solid #E3E3E3; }
/*表单相关*/
input { font-family:"宋体"; font-size:12px; }
.form_text { font-size:12px; border:1px solid #CCC; height:26px; line-height:26px; padding:0 5px; width:500px; }
.form_text_verifycode { font-size:12px; border:1px solid #CCC; height:26px; line-height:26px; padding:0 5px; width:50px; }
#form_text_search { border:1px solid #CCC; height:24px; line-height:24px; padding:0 5px; width:135px; }
#form_submit_search { width:60px; height:26px; border:1px solid #CCCCCC; background:#FFF; }
.form_select { font-size:12px; border:1px solid #CCC; }
.form_textarea { font-size:12px; width:500px; height:80px; padding:5px; border:1px solid #CCC; }
.form_checkbox { }
.form_submit { background:url(submit_button.jpg)/*tpa=http://127.0.0.1/_skins/free/images/submit_button.jpg*/ no-repeat; width:79px; height:31px; border:none; color:#FFF; font-weight:bold; }
.form_file { font-size:12px; padding:3px 5px; border:1px solid #CCC; background:#FFF; }
.common_form { }
.common_form li { padding:2px; overflow: auto; zoom:1; }
.common_form label { float:left; width:80px; display:block; height:28px; line-height:28px; }
/*表格*/
.layout_table { border-collapse:collapse; width:100%; }
.common_table { border-collapse:collapse; width:100%; }
.common_table td { padding:5px; border:1px solid #DBDBDB; }
.common_table th { text-align:center; border:1px solid #DBDBDB; }
/*分页样式*/
.page_turner { padding:4px 0px 0px 1px; float:right; clear:both; }
.page_turner a, .page_turner span { float:left; display:block; border:1px solid #D3D1D1; padding:2px 5px; margin-left:4px; line-height:16px; }
.page_turner a:link, .page_turner a:visited { text-decoration:none; }
.page_turner a:hover, .page_turner a.c { background:#CC0001; color:#FFF; }
#total { color:red; }
